ADMIN_EMAIL=your-admin-email
ADMIN_PASSWORD=your-admin-password
INSTRUCTOR_EMAIL=your-instructor-email
INSTRUCTOR_PASSWORD=your-instructor-password
STUDENT_EMAIL=your-student-email
STUDENT_PASSWORD=your-student-password
